.home-wrapper{
  background-color: #242335;
  /* min-height: 100vh; */
  padding-bottom: 50px;
  display: block;
  position: relative;
}

.footer{
  display: flex;
  align-items: center;
  justify-content: center;
  height:40px;
  background-color: #fff;
  position: absolute;
  bottom: 0;
  width: 100%;
}
